<div>
    <button class="w-100 btn btn-dark" type="button" ng-click="updateAction()" ng-disabled="!disabled"
        ng-show="disabled">Update</button>
    <button class="w-100 btn btn-warning" type="button" ng-click="cancelAction()" ng-disabled="disabled"
        ng-hide="disabled">Cancel</button>
    <button class="w-100 btn btn-dark" type="button" ng-click="saveAction()" ng-disabled="disabled"
        ng-hide="disabled">Save</button>
    <button class="w-100 btn btn-danger" type="button" ng-click="deleteAction()" ng-disabled="disabled"
        ng-hide="disabled">Delete</button>
</div>