<div class="row">
    <form class="col-md-4 row row-cols-lg-auto align-items-center">
        <div class="col-12">
            <div class="input-group">
                <input type="text" class="form-control" name="id" id="id" required="true" ng-model="mt">
                <button type="reset" class="form-control btn-primary" name="id" id="id" required="required" ng-model="data"
                    ng-click="moveToPosition({index : index, mt: mt})">Move To</button>
            </div>
        </div>
    </form>
    <form class="col-md-4 row row-cols-lg-auto align-items-center">
        <div class="col-12">
            <div class="input-group">
                <input type="text" class="form-control" name="id" id="id" required="true" ng-model="sw">
                <button type="reset" class="form-control btn-primary" name="id" id="id" required="required" ng-model="data"
                    ng-click="swapWithPosition({index : index, sw: sw})">Swap with</button>
            </div>
        </div>
    </form>
    <div class="col-md-4">
        <button class="w-40 btn btn-primary" type="button" ng-click="moveUp()" ng-disabled="index==0"
            ng-hide="sortDisabled">▲</button>
        <button class="w-40 btn btn-primary" type="button" ng-click="moveDown()" ng-disabled="index==count-1"
            ng-hide="sortDisabled">▼</button>
    </div>
</div>