<div class="row">
    <form class="col-md-4 row row-cols-lg-auto align-items-center">
        <div class="col-12">
            <div class="input-group">
                <input type="text" class="form-control" name="id" id="id" required="true" ng-model="mt">
                <button type="reset" class="form-control btn-primary" name="id" id="id" required="required"
                    ng-model="data" ng-click="moveToPosition({index : index, mt: mt})">→</button>
            </div>
        </div>
    </form>
    <form class="col-md-4 row row-cols-lg-auto align-items-center">
        <div class="col-12">
            <div class="input-group">
                <input type="text" class="form-control" name="id" id="id" required="true" ng-model="sw">
                <button type="reset" class="form-control btn-primary" name="id" id="id" required="required"
                    ng-model="data" ng-click="swapWithPosition({index : index, sw: sw})">↱↲</button>
            </div>
        </div>
    </form>
    <form class="col-md-4 row row-cols-lg-auto align-items-center">
        <div class="col-12">
            <div class="input-group">
                <button type="button" class="form-control btn-primary" ng-disabled="index==0" ng-hide="sortDisabled"
                    ng-click="moveUp()">▲</button>
                <button type="button" class="form-control btn-primary" ng-disabled="index==count-1"
                    ng-hide="sortDisabled" ng-click="moveDown()">▼</button>
            </div>
        </div>
    </form>
</div>